.documents {
    margin-left: 30px;
    z-index: 1000;
    position: relative;
    width: 70%;
    height: 80vh;
    overflow-y: auto;
    filter: drop-shadow(0 0 10px #00d9ff);
    font-family: "orbitron";
  }
  
  .documents h2 {
    margin-bottom: 10px;
  }
  
  .documentsTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .documentsTable th, .documentsTable td {
    border: 1px solid #00d9ff;
    filter: drop-shadow(0 0 3px #00d9ff);
    font-size: 18px;
    font-family: "orbitron";
  }
  
  .documentsTable tr:nth-child(even) {
    font-family: "orbitron";
  }
  
  .documentsTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    filter: drop-shadow(0 0 1px #00d9ff);

    color: #00d9ff;
  }
  
  button {
    font-family: "orbitron";
    font-size: 15px;
  }
  .error {
    color: red;
  }
  