body {
    margin: 0;
    padding: 0;
    color: #00d9ff;
}

h1 {
    position: absolute;
    top: -3%;
    left: 29%;
    z-index: 20;
}
.first {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 30%;
    left: 50%;
    z-index: 20;
}

.second {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 20;
}
.subframe2 {
    height: 100vh;
}

