body {
    margin: 0;
    padding: 0;
    color: #00d9ff;
}

.dash-head {
    position: absolute;
    left: 28%;
    top: -2%;
    z-index: 20;
}
.first {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 30%;
    left: 50%;
    z-index: 20;
}

.second {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 20;
}


