.round-icon {
  display: inline-block;
  width: 200px;
  height: 200px;
  position:absolute;
  right: 0;
  top: 0;
  margin: 30px;
}

.icon-outer-circle {
  fill: none;
  stroke: #00ff00; /* Cyan color */
  stroke-width: 4;
  filter: url(#glow); /* Apply a glow effect */
}

.icon-inner-circle {
  fill: #00ff00; /* Blue color */
}

.icon-text {
  fill: #000000; /* Cyan color */
  font-size: 20px;
  font-family: 'orbitron', 'Roboto', sans-serif;

 
}

.icon-path {
  stroke: #00ff00; /* Cyan color */
  stroke-width: 2;
}
